WpfClient/Connected Services/WebServices/CurrencyWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrenciesPairRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrenciesPairRate" nillable="true" type="tns:CurrenciesPairRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrenciesPairRate" nillable="true" type="tns:ArrayOfCurrenciesPairRate" />
  <xs:complexType name="CurrenciesPairRate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pair" nillable="true" type="tns:CurrenciesPair" />
          <xs:element minOccurs="0" name="PairId" type="xs:long" />
          <xs:element minOccurs="0" name="Rate" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrenciesPairRate" nillable="true" type="tns:CurrenciesPairRate" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="CurrenciesPair">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromCurrency" nillable="true" type="tns:Currency" />
          <xs:element minOccurs="0" name="FromCurrencyId" type="xs:long" />
          <xs:element minOccurs="0" name="ToCurrency" nillable="true" type="tns:Currency" />
          <xs:element minOccurs="0" name="ToCurrencyId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrenciesPair" nillable="true" type="tns:CurrenciesPair" />
  <xs:complexType name="Currency">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
</xs:schema>