WpfClient/Connected Services/WebServices/CurrencyWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56857/WebServices/CurrencyWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Entities" />
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListAllResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Entities" minOccurs="0" name="ListByPeriodResult" nillable="true" type="q1:ArrayOfCurrenciesPairRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>