WpfClient/Connected Services/WebServices/CurrencyWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56857/WebServices/CurrencyWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Entities" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimeArrayOfCurrenciesPairRate4n7BiVWy">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimeArrayOfCurrenciesPairRate4n7BiVWy">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Entities" name="Value" nillable="true" type="q1:ArrayOfCurrenciesPairRate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimeArrayOfCurrenciesPairRate4n7BiVWy" nillable="true" type="tns:ArrayOfKeyValueOfdateTimeArrayOfCurrenciesPairRate4n7BiVWy" />
</xs:schema>